@page "/"

<PageTitle>Sistema de Riego IoT - Dashboard</PageTitle>

<h1>Sistema de Riego IoT</h1>

<p>Bienvenido al sistema de administración de riego IoT.</p>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fincas</h5>
                <p class="card-text">Administre sus fincas y los lotes que las componen.</p>
                <a href="/fincas" class="btn btn-primary">Ir a Fincas</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Dispositivos</h5>
                <p class="card-text">Gestione los dispositivos IoT instalados en sus fincas.</p>
                <a href="/dispositivos" class="btn btn-primary">Ir a Dispositivos</a>
            </div>
        </div>
    </div>
</div>